# Virtual environments
myenv/
env/
venv/
lib/
lib64/
include/
bin/
share/

# Python
*.pyc
__pycache__
*.log
.Python
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
target/

# Django-specific
*.mo
*.pot
local_settings.py
.env
db.sqlite3
media/
staticfiles/